.main-bg{
    background-image: url(Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
}

.backimg{
    padding-left: 10px;
    width: 42px;
    height: 30px;
}

.navbar-brand{
    font-size: 30px !important;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 40px;
  }

.nav-link{
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 20px !important;
}



.pt-8{
  padding-top: 108px !important;
}


.address{
  
  text-decoration: none;
  font-weight: 100;

}

ul.address{
  list-style-type: none;
}

li{
  list-style-type: none;
}

h1{
  color: black;
}

.aboutt{
  background-color: white;
}



.contact-section{
  background: #313840;
  padding: 80px 0;
  text-align: center;
}

.inner-width{
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.contact-section h2{
  font-size: 20px;
  color:#888;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
}


.name,.email,.message{
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  color: #888;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
}


.name{
  float: left;
  width: 270px;
}

.email{
  float: right;
  width: 270px;
}

.message{
  min-width: 100%;
  max-width: 100%;
}

.contact-section button{
  background: none;
  color: #70a1ff;
  border: 1px solid #70a1ff;
  padding: 12px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  transform: 0.4s linear;
  cursor: pointer;
}

.contact-section button:hover{
background: #70a1ff;
color: #ffff;
}

.progressbar1{
  align-content: center;
  width: 30%;
  float: right;
}

.progressbar2{
  align-content: center;
  width: 30%;
  float: right;
  
}

.worksphoto{
  display: block;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid white;*/
}

